<h1>Login</h1>
<p>code:  <%= @ynab_code %></p>
<p>token:  <%= @ynab_token %></p>
<p>auth:  <%= @auth %></p>
<a href="https://app.youneedabudget.com/oauth/authorize?client_id=<%= @client_id %>&redirect_uri=<%= @ynab_redirect %>&response_type=code
">log in</a>
